<div class="splash">
  <div class="welcome">
    <h1> Welcome to your work newsfeed </h1>
  </div>
  <div class="tagline">
    <h2> A single place to easily read all of your favorite blogs and publications </h2>
  </div>
  <div class="sign-up" onclick="newUser()">
    <h3>Get Started</h3>
  </div>
  <br>
  <div class="login" onclick="newSession()">
    <h3>Login</h3>
  </div>
  <div class="warning">
    <h1>username: waterbottle password: waterbottle</h1>
    <h2>no demo button sorry click here ---></h2>
  </div>
</div>

<script type="text/javascript">
  var newUser = function() {
    window.location.href = "users/new"
  };

  var newSession = function() {
    window.location.href = "session/new"
  }
</script>
