<div class="splash">
  <div class="login-signup">
    <div class="to-center">

    <h1>Sign Up</h1>

    <form action="<%= users_url %>" method="post">
      <%= auth_token %>

      <input type="text" name="user[username]" placeholder="Username">

      <input type="password" name="user[password]" placeholder="Password">


      <input type="submit" value="Sign Up">
    </form>

    </div>
  </div>
</div>
