<h1> Welcome to your work newsfeed </h1>
<h2> A single place to easily read all of your favorite blogs and publications </h2>

<%= link_to("Get Started", new_user_url) %>
<br>
<%= link_to("Login", new_session_url) %>
