/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 26px;
  font-weight: 700;
}

h4 {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
}

h3 {
  margin-top: 10px;
}

.h3 {
  margin-top: 65px;
  font-size: 12px;
  color: #B4B3B2;
  margin-bottom: 20px;
}

.h3 > .feed-link {
  color: black;
}

.h3 > .feed-link:hover {
  color: #B4B3B2;
}

.page {
  margin-left: 270px;
  font-family: helvetica;
}

.thumb-image {
  width: 206px;
  height: 106px;
  margin-right: 10px;
  background-position: 50% 25%;
  background-size: cover;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  float: left;
}

.snippet {
  float: left;
  width: 400px;
  color: #A0A0A0;
  font-size: 12px;
}

.feed-preview {
  width: 670px;
  display: block;
  clear: both;
}

.feed-preview:after {
  display: block;
  clear: both;
  content: "";
}

.article-preview {
  margin-bottom: 40px;
}

.article-preview:hover {
  /*background-color: #EEF5F8;*/
}

.article-preview:after {
  display: block;
  clear: both;
  content: "";
}

.tagline {
  margin-bottom: 30px;
  color: #B4B3B2;
  font-size: 12px;
}

.article-show {
  width: 800px;
}

a {
  color: gray;
  font-weight: lighter;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  padding: 15px;
  padding-left: 0;
}

.sidebar {
  font-family: helvetica;
  background-color: #F7F7F7;
  height: 100%;
  clear: both;
  position: fixed;
  transition: width 0.5s;
}

.compact {
  width: 50px;
}

.full {
  width: 210px;
}

.nav-menu {
  font-size: 13px;
  font-weight: lighter;
  position: absolute;
  color: #8A8A8A;
  top: 5%;
  left: 20%;
}

.nav-menu.feeds {
  top: 24%;
}

.nav-menu h5 {
  padding-bottom: 20px;
  font-weight: bolder;
  float: left;
}

.nav-menu ul {
  list-style: none;
  display: block;
  clear: both;
  position: relative;
  left: 19px;
}

.nav-menu ul.hidden {
  display: none;
}

.nav-menu a {
  display: block;
  padding-bottom: 20px;
}

.nav-menu a:hover {
  color: black;
}

.nav-menu li {
  display: block;
  padding-bottom: 20px;
}

.nav-menu li:hover {
  color: black;
}

.button {
  border-radius: 4px;
  border: 1px solid #8A8A8A;
  background: none;
  color: #969696;
  width: 123px;
  height: 29px;
  position: absolute;
  left: 20%;
}

.button:hover {
  background-color: #F7FFF9;
}

.article-show .save-button {
  position: absolute;
  top: 103px;
  left: 270px;
}

.article-show h1 {
  padding-bottom: 70px;
}

.save-button {
  width: 82px;
  position: relative;
  top: 43px;
  left: 218px;
  height: 19px;
  border: 1px solid #D2D2D2;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
  font-size: 13px;
  transition: color 1s, opacity 1s;
}

.save-button > span {
  position: absolute;
  top: 13%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.save-button:hover {
  background-color: #CEFFCE;
}

.user-options {
  position: absolute;
  top: 90%;
  font-size: 13px;
  font-weight: lighter;
  color: #8A8A8A;
  width: 100%;
}

.username {
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

.expand-icon {
  position: absolute;
  left: 30%;
  top: 5%;
}

.expand-bar {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-bottom: 3px;
  display: block;
}

.icon {
  height: 15px;
  width: 15px;
  padding: 0;
  display: inline;
  float: left;
  line-height: 0px;
  position: relative;
  top: -2px;
  left: -7px;
}

.unclicked {
  color: #8A8A8A;
}

.clicked {
  color: #6CFF72;
  opacity: 0;
}
