/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#content {
  position: absolute;
  font-family: helvetica;
  height: 100%;
  width: 110%;
  overflow: hidden;
}

.app {
  height: 100%;
}

p {
  line-height: 30px;
  /*font-family: Lora;*/
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 26px;
  font-weight: 700;
}

h2 {
  margin-top: 24px;
  font-weight: 600;
  font-size: 14px;
}

h4 {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
}

h3 {
  margin-top: 10px;
}

.h3 {
  margin-top: 65px;
  font-size: 12px;
  color: #B4B3B2;
  margin-bottom: 20px;
}

.h3 > .feed-link {
  color: black;
}

.h3 > .feed-link:hover {
  color: #B4B3B2;
}

.page {
  font-family: helvetica;
  height: 100%;
  overflow: scroll;
  display: inline-block;
  width: 80%;
  margin: auto;
  margin-left: 50px;
}

.thumb-image {
  width: 206px;
  height: 106px;
  margin-right: 10px;
  background-position: 50% 25%;
  background-size: cover;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  float: left;
}

.snippet {
  float: left;
  width: 400px;
  color: #A0A0A0;
  font-size: 12px;
}

.feed-preview {
  width: 670px;
  display: block;
  clear: both;
}

.feed-preview:after {
  display: block;
  clear: both;
  content: "";
}

.article-preview {
  margin-bottom: 40px;
}

.article-preview:hover {
  /*background-color: #EEF5F8;*/
}

.article-preview:after {
  display: block;
  clear: both;
  content: "";
}

.tagline {
  margin-bottom: 30px;
  color: #B4B3B2;
  font-size: 12px;
}

.article-show {
  width: 800px;
}

a {
  color: gray;
  font-weight: lighter;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  padding: 15px;
  padding-left: 0;
}

.sidebar {
  font-family: helvetica;
  background-color: #F7F7F7;
  height: 100%;
  clear: both;
  position: relative;
  transition: width 0.5s;
  overflow-x: hidden;
  display: inline-block;
  margin: 0px;
}

.sidebar-content {
  height: 88%;
  overflow: scroll;
  border-bottom: 1px solid #D4D4D4;
}

.compact {
  overflow-x: hidden;
  width: 50px;
}

.full {
  overflow-x: hidden;
  width: 15%;
  max-width: 220px;
}

.nav-menu {
  font-size: 13px;
  font-weight: lighter;
  position: relative;
  color: #8A8A8A;
  left: 20%;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-right: 0px;
  width: 73%;
}

.nav-menu.feeds {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

.category-nav {
  width: 100%;
}

.nav-menu h5 {
  padding-bottom: 20px;
  font-weight: bolder;
  float: left;
}

.nav-menu ul {
  list-style: none;
  display: block;
  clear: both;
  position: relative;
  left: 19px;
}

.nav-menu ul.hidden {
  display: none;
}

.nav-menu a {
  display: block;
  padding-bottom: 20px;
}

.nav-menu a:hover {
  color: black;
}

.nav-menu li {
  display: block;
  padding-bottom: 20px;
}

.category-li {
  display: list-item;
  padding-bottom: 5px;
  clear: both;
  position: relative;
}

.category-li:after {
  display: block;
  content: "";
  clear: both;
}

.nav-menu li:hover {
  color: black;
}

.button {
  border-radius: 4px;
  border: 1px solid #8A8A8A;
  background: none;
  color: #969696;
  width: 80%;
  height: 29px;
  margin: auto;
  margin-top: 10px;
  display: block;
  margin-bottom: 10%;
}

.button:hover {
  background-color: #F7FFF9;
}

.article-show .save-button {
  top: 0px;
  left: 0px;
}

.article-show h1 {
  padding-bottom: 20px;
}

.save-button {
  width: 82px;
  position: relative;
  top: 43px;
  left: 218px;
  height: 19px;
  border: 1px solid #D2D2D2;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
  font-size: 13px;
  transition: color 1s, opacity 1s;
}

.save-button > span {
  position: absolute;
  top: 13%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.save-button:hover {
  background-color: #CEFFCE;
}

.user-options {
  position: absolute;
  top: 90%;
  font-size: 13px;
  font-weight: lighter;
  color: #8A8A8A;
  width: 100%;
}

.username {
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
  /*visibility: hidden;*/
}

.unhidden {
  visibility: visible;
}

.expand-icon {
  position: absolute;
  left: 30%;
  top: 5%;
}

.expand-bar {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-bottom: 3px;
  display: block;
}

.icon {
  height: 15px;
  width: 15px;
  padding: 0;
  display: inline;
  float: left;
  line-height: 0px;
  position: relative;
  top: -2px;
  left: -7px;
}

.unclicked {
  color: #8A8A8A;
}

.clicked {
  color: #6CFF72;
  opacity: 0;
}

.category-options{
  height: 29px;
  width: 100%;
  clear: both;
  display: inline;
}

.submit-button{
  margin-top: 10px;
  width: 100%;
  left: 0%;
}

form {
  margin-bottom: 10px;
}

.collection-select {
  position: absolute;
  top: 98%;
  right: -1px;
  max-height: 600px;
  width: 211px;
  background-color: white;
  border: solid #D0D0D0 1px;
  border-top: none;
  overflow: scroll;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 3px 5px 6px;
  z-index: 5;
}

.collection-select-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.46);
}

.collection-option {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #D6D6D6;
}

.collection-option:hover {
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
}

.collection-select h1 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
}

.sidebar input {
  background: none;
  border: 1px solid #8A8A8A;
  border-radius: 3px;
  height: 25px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: block;
  margin-bottom: 10%;
}

.sidebar .tagline {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.add-to-collection-button {
  width: 211px;
  position: absolute;
  top: 48%;
  right: 60px;
  display: inline-block;
  height: 19px;
  border: 1px solid #D2D2D2;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
  font-size: 13px;
  transition: color 1s, opacity 1s;
  float: right;
  color: #9A9A9A;
}

.filter-feeds-button {
  width: 211px;
  position: relative;
  display: inline-block;
  height: 19px;
  border: 1px solid #D2D2D2;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
  font-size: 13px;
  transition: color 1s, opacity 1s;
  color: #5D5D5D;
  margin-bottom: 30px;
}

.filter-feeds-button .filter-feeds-text {
  position: absolute;
  top: 14%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.feed-index{
  position: relative;
}

.add-to-collection-button > span {
  position: absolute;
  top: 14%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.check-icon {
  height: 15px;
  width: 15px;
  padding: 0;
  display: inline;
  float: right;
  line-height: 0px;
  position: relative;
  top: -1px;
  right: 59px;
}

.feed-heading {
  position: relative;
}

.feed-heading h1 {
  width: 223px;
}

.feed-thumb {
  width: 250px;
  height: 350px;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  float: left;
  margin: 50px;
  margin-left: 0px;
  margin-top: 0px;
}

.square {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px;
  float: left;
}

.feed-thumb .thumb-image {
  display: block;
  border: none;
  border-radius: 0px;
  width: 100%;
  height: 142px;
}

.feed-thumb p {
  line-height: 17px;
}

.feed-preview-snippet {
  font-size: 12px;
  display: inline;
  padding-right: 0px;
  padding-left: 0px;
}

.feed-preview-snippet p {
  padding: 10px;
  clear: both;
}

.thumb-image-snippet {
  display: block;
  width: 237px;
  clear: both;
  border: 1px solid #BBBBBB;
  margin: auto;
  margin-top: 53px;
  height: 230px;
  box-shadow: 2px 2px 2px gainsboro;
}

.thumb-image-snippet:hover {
  border: 1px solid #737373;
}

.feed-thumb .add-to-collection-button {
  width: 237px;
  position: relative;
  top: 0%;
  right: 5px;
  height: 19px;
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  font-size: 13px;
  float: right;
  color: #9A9A9A;
}

.feed-thumb .add-to-collection-button > span {
  position: relative;
  top: 3px;
  left: 70px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.feed-thumb .collection-select {
  position: relative;
  right: 1px;
  top: 6px;
  max-height: 246px;
  width: 237px;
  background-color: white;
  border: solid #D0D0D0 1px;
  border-top: none;
  overflow: scroll;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  z-index: 2;
}

.feed-thumb .collection-option {
  padding-top: 10px;
  padding-bottom: 10px;
}

.feed-thumb .h3 {
  margin: 0px;
}

.modal-background {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
