/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  margin-bottom: 0px;
}

h4 {
  margin-bottom: 4px;
}

.h3 {
  margin-top: 65px;
  font-size: 12px;
  color: #B4B3B2;
}

.h3 > .feed-link {
  color: black;
}

.h3 > .feed-link:hover {
  cursor: pointer;
  color: #B4B3B2;
}

#content {
  margin-left: 230px;
  font-family: helvetica;
}

.thumb-image {
  width: 206px;
  height: 106px;
  margin-right: 10px;
  background-position: 50% 25%;
  background-size: cover;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  float: left;
}

.snippet {
  float: left;
  width: 400px;
  color: #A0A0A0;
  font-size: 12px;
}

.feed-preview {
  width: 670px;
  display: block;
  clear: both;
}

.feed-preview:after {
  display: block;
  clear: both;
  content: "";
}

.article-preview:after {
  display: block;
  clear: both;
  content: "";
}

.tagline {
  color: #B4B3B2;
  font-size: 12px;
}
